body {
	line-height: 135%;
}

a, a:visited, a:hover {
    color:#902;
}

a:hover {
    color:#222;
    text-decoration:underline;
}

.big-titles h1 {
    font-size:50px;
    background:#eee;
    padding:10px;
}

ul#press li {
	margin-bottom: .8em;
}